
<!DOCTYPE html>
<html>

<head>

    <title>Add Address</title>

</head>

<body>

<h2>Add New Address</h2>


<!-- =====================================================
     FLASH MESSAGES
====================================================== -->

{% with messages = get_flashed_messages(with_categories=true) %}

    {% for category, message in messages %}

        <p style="color:red;">
            {{ message }}
        </p>

    {% endfor %}

{% endwith %}


<!-- =====================================================
     ADDRESS FORM
====================================================== -->

<form method="POST" action="/user/address/add">


    <!-- Full Name -->

    <label>
        Full Name:
    </label>

    <br>

    <input
        type="text"
        name="full_name"
        required
    >

    <br><br>


    <!-- Phone -->

    <label>
        Phone Number:
    </label>

    <br>

    <input
        type="tel"
        name="phone"
        maxlength="15"
        required
    >

    <br><br>


    <!-- Address Line 1 -->

    <label>
        Address Line 1:
    </label>

    <br>

    <input
        type="text"
        name="address_line1"
        placeholder="House No, Street"
        required
    >

    <br><br>


    <!-- Address Line 2 -->

    <label>
        Address Line 2:
    </label>

    <br>

    <input
        type="text"
        name="address_line2"
        placeholder="Area, Landmark (Optional)"
    >

    <br><br>


    <!-- City -->

    <label>
        City:
    </label>

    <br>

    <input
        type="text"
        name="city"
        required
    >

    <br><br>


    <!-- State -->

    <label>
        State:
    </label>

    <br>

    <input
        type="text"
        name="state"
        required
    >

    <br><br>


    <!-- Pincode -->

    <label>
        Pincode:
    </label>

    <br>

    <input
        type="text"
        name="pincode"
        maxlength="10"
        required
    >

    <br><br>


    <!-- Address Type -->

    <label>
        Address Type:
    </label>

    <br>

    <select name="address_type">

        <option value="Home">
            Home
        </option>

        <option value="Work">
            Work
        </option>

        <option value="Other">
            Other
        </option>

    </select>

    <br><br>


    <!-- Submit -->

    <button type="submit">
        Save Address
    </button>

</form>


<br>


<a href="/user/addresses">
    Back to My Addresses
</a>


<br><br>


<a href="/user-dashboard">
    Back to Dashboard
</a>


</body>

</html>
